@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script>
        var baseApiUrl = 'https://localhost:7023/api/';
        function getCustomer(id) {
            var url = baseApiUrl + 'customer/' + id;
            console.log(url);
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json',
                dataType: 'json',
                processData: false,
                cache: false,
                success: function (customer) {      
                    $("#email").val(customer.email);
                    $("#name").val(customer.name);
                    $("#hdn-customer-id").val(customer.custromerID);
                },
                error: function (a, b) {
                    console.log(a, b);

                }
            });
        };
        function getAllCustomers() {
            $.ajax({
                method: 'get',
                url: baseApiUrl + 'customer',
                isAsync: true,
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    $('#customer-list').empty();
                    for (i = 0; i < response.length; i++) {

                        var customer = response[i];
                        $('#customer-list').append('<tr><td>' + customer.custromerID + ' </td><td> ' + customer.name + ' </td><td> ' + customer.email + ' </td><td> <a href="javascript:void(this)" onclick="getCustomer(' + customer.custromerID + ')" data-customerid="' + customer.custromerID + '" class="btn btn-success btn-get-customer" >Get Customer</a> </td></tr>');

                    }                  
                },
                error: function (err, xhr) {
                    console.log(err, xhr);
                }
            })
        }
        $(document).ready(function () {
            getAllCustomers();


            //SAVE
            $("#btn-insert-customer").on("click", function () {
                var formData = new FormData();
                formData.append("name", $("#name").val());
                formData.append("email", $("#email").val());
                formData.append("mobile", '234234');
                var customer = {  Name: $("#name").val(), Email: $("#email").val(), Mobile: "12313" };
                console.log(customer);
                $.ajax({
                    type: 'POST',
                    url: baseApiUrl + "customer",
                    contentType: 'application/json;charset=utf-8',
                    cache: false,
                    data: JSON.stringify(customer),
                    success: successCallback,
                    error: errorCallback
                });
            });
            // UPDATE
            $("#btn-update-customer").on("click", function () {

                var customer = { CustromerID: $("#hdn-customer-id").val(), Name: $("#name").val(), Email: $("#email").val(), Mobile: '23343' };
                $.ajax({
                    type: 'PUT',
                    url: baseApiUrl + "customer",
                    contentType: 'application/json;charset=utf-8',
                    cache: false,
                    data: JSON.stringify(customer),
                    success: successCallback,
                    error: errorCallback
                });
            });
            //DELETE
            $("#btn-delete-customer").on("click", function () {
                debugger;
                var formData = new FormData();
                formData.append("id", $("#hdn-customer-id").val());
                $.ajax({
                    type: 'DELETE',
                    url: baseApiUrl + 'customer/' + $("#hdn-customer-id").val(),
                    contentType: false,
                    processData: false,
                    cache: false,
                    
                    success: successCallback,
                    error: errorCallback
                });
            });
            function resetForm() {
                $("#hdn-customer-id").val("");
                $("#name").val("");
                $("#email").val("");
            }
            function successCallback(response) {
                resetForm();
                getAllCustomers();
                
            };
            function errorCallback(a, b) {
                console.log(a, b);
                alert("Something went wrong please contact admin.");
            }
        });
    </script>
}
<div class="text-center">
    <h1 class="display-4">Customers Details</h1>
    <hr />
</div>
<div class="row">
    <div class="col-sm-12">
        <form>
            <input type="hidden" id="hdn-customer-id" />
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Your Name" value="" required="">
                    <div class="invalid-feedback">
                        Name is required.
                    </div>
                </div>

            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>  <a href="javascript:void(0)" class="btn btn-primary" id="btn-insert-customer">Save Customer</a></td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-info" id="btn-update-customer">Update Customer</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-danger" id="btn-delete-customer">Delete Customer</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </form>

    </div>
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody id="customer-list">
               
            </tbody>


        </table>
    </div>
</div>